html{
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: inherit;
}

body {
    max-width: 1200px;
    margin: 35px auto;
}

h1 {
    max-width: 1080px;
    margin: 0 auto;
}

footer{
    margin-top: 50px;
}